extends layout.pug
block content
  h1 New BuddyStream:
  form(action=`/session`, method="POST")
    .form-group
      label(for='buddySelect') Choose a buddy
      select(class='custom-select' id="buddySelect" name="UserBuddyId")
        each buddy in buddies
          option(value=`${buddy.id}`) #{buddy.first} #{buddy.last}
      label(for='streamSelect') Choose a movie
      select(class='custom-select' id="streamSelect" name="MovieId")
        each movie in movies
          option(value=`${movie.id}`) #{movie.title}
    button(type="submit" class="btn btn-primary") New BuddyStream
  script(src='/public/lib/jquery/jquery.min.js')
  script(src='/public/lib/popper.js/popper.min.js')
  script(src='/public/lib/bootstrap/bootstrap.min.js')
  //- //- script(src='/public/app.js')
